.blog{
    
    
}
.blog .content{
    display: flex;
    flex-direction: row;
}
.blog .title{
    text-align: left;
    font-size: 3rem;
    font-weight: bolder;
    margin: 2rem 0;
}

.blog .description{
    text-align: left;
    padding-right: 4rem;
    margin-bottom: 4rem;
}

@media screen and (max-width: 900px)
{
    .blog .content{
        flex-direction: column;
    }
    .blog .description{
        padding-right: 0;
    }
}