.project{
    text-align: left;
}

.project-title{
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem 0;
}

.project-preview{
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.project-preview-img{
    max-width: 150px;
    height: auto;
    align-self: center;
    margin-right: 2rem;
}

.project-preview-description{}