.NavBar{
    width: 100%;
    display: flex;
    height: 4rem;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;
}

.NavBar-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.NavBar-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.NavBar-left-item{
    text-align: left;
    flex: 1;
    font-weight: bold;
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

.NavBar-left-item:hover{
    text-decoration: underline; 
}

.NavBar-right-item{
    padding: .5rem 1rem;
    color: black;
    text-decoration: none;
}
.NavBar-right-item:hover{
    outline: solid 1px black;
    border-bottom-width: 0px;
}

.active{
    border-bottom: solid 1px black;
    
}

.NavBar-right:hover .active{
    border: none;
}



@media screen and (max-width: 750px)
{
    .NavBar{
        margin: 2rem 0;
    }
    .NavBar-right-item {
        font-size: 0;
    }
    .NavBar-right-item:first-letter {
        font-size: 2rem;
        font-weight: bold;
    }


}

@media screen and (max-width: 600px)
{

    .NavBar{
        margin: 4rem 0;
    }

    .NavBar-right {
        max-width: 150px;
        margin-top: -1.5rem;
    }

    .NavBar-left{
        max-width: 200px;
    }


}