.projects{
    
}
.content{
    display: flex;
    flex-direction: row;
}
.title{
    text-align: left;
    font-size: 3rem;
    font-weight: bolder;
    margin: 2rem 0;
}

.description{
    text-align: left;
    padding-right: 4rem;
    margin-bottom: 4rem;
}

@media screen and (max-width: 900px)
{
    .content{
        flex-direction: column;
    }
    .description{
        padding-right: 0;
    }
}