.projects{
    margin-bottom: 4rem;
}
.projects .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}
.projects .title{
    text-align: left;
    font-size: 3rem;
    font-weight: bolder;
    margin: 2rem 0 4rem;
}

.projects .description{
    text-align: left;
    padding-right: 4rem;
    margin-bottom: 4rem;
}




@media screen and (max-width: 1000px)
{
    .projects .content{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .projects .description{
        padding-right: 0;
    }
}