.projects{
    margin-bottom: 4rem;
}
.projects .content{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}
.projects .title{
    text-align: left;
    font-size: 3rem;
    font-weight: bolder;
    margin: 2rem 0 4rem;
}

.projects .description{
    text-align: left;
    padding-right: 4rem;
    margin-bottom: 4rem;
}




@media screen and (max-width: 900px)
{
    .projects .content{
        flex-direction: column;
    }
    .projects .description{
        padding-right: 0;
    }
}